asgiref==3.7.2
cloudinary==1.38.0
cryptography==41.0.7
Django==4.2.5
django-cloudinary-storage==0.3.0
django-cors-headers==4.3.1
django-threadlocals==0.10
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
gunicorn==21.2.0
idna==3.6
packaging==23.2
pillow==10.2.0
psycopg2-binary==2.9.9
pycparser==2.21
PyJWT==2.8.0
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
urllib3==1.26.6
whitenoise==6.6.0
