{% extends './base.html' %}
<!--  -->

{% block title %} SecureFileShare API {% endblock title %}
<!--  -->

{% block body %}
<div
  class="d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <div class="card">
    <div class="card-body">
      <div class="text-center">
        <h1>SecureFileShare</h1>
        <hr />
        Securely share files within an organization
        <br />
        <br />
        <a
          href="https://securefileshare.netlify.app"
          target="_blank"
          class="btn btn-sm btn-success"
          >Open SecureFileShare App</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock body %}
